---
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
  <head><meta charset="utf-8" /><title>El Club del 1+</title></head>
  <body class="ground-green"><h1 class="display">creando riqueza.</h1></body>
</html>
